<ion-header>
    <ion-toolbar color="primary">
        <ion-title>

        </ion-title>
    </ion-toolbar>
    <ion-toolbar class="header" color="secondary">

    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-toolbar>
        <ion-title text-center>Iniciar sesión</ion-title>
    </ion-toolbar>
    <br>
    <br>
    <br>
    <ion-toolbar>
        <ion-item>
            <ion-label position="floating">Usuario</ion-label>
            <ion-input type="text" [(ngModel)]="email" name="email"></ion-input>
        </ion-item>
        <p></p>
        <p></p>
        <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
        </ion-item>
    </ion-toolbar>

    <ion-toolbar class="inicio">
        <button (click)="onSubmitHome()">Iniciar</button>
    </ion-toolbar>

    
    <ion-toolbar class="inicio">
        <button  routerLink="/registro">Registrar</button>
    </ion-toolbar>


</ion-content>


<ion-footer color="primary">
    <ion-toolbar color="primary">

    </ion-toolbar>
</ion-footer>