<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
  <ion-toolbar class="header" color="secondary">
    
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-toolbar >
  <ion-title >Iniciar sesión</ion-title>
    </ion-toolbar>
<br>
<br>
<br>
 

<ion-toolbar class="inicio">
<button>Iniciar</button>
</ion-toolbar>

</ion-content>


<ion-footer color="primary">
    <ion-toolbar color="primary">
      
    </ion-toolbar>
  </ion-footer>

