<ion-header>
    <ion-toolbar color="primary">

        <ion-icon name="menu"></ion-icon>
        <ion-icon name="chatboxes"></ion-icon>

    </ion-toolbar>
    <ion-toolbar class="header" color="secondary">

    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-toolbar>
        <ion-title>Opciones</ion-title>
    </ion-toolbar>
    <br>
    <br>

    <ion-toolbar class="inicio">
        <button>Ubicación</button>
    </ion-toolbar>

    <ion-toolbar class="inicio">
        <button>Recolección</button>
    </ion-toolbar>

    <ion-button (click)="Onlogout()">Desconectarse</ion-button>

</ion-content>


<ion-footer color="primary">
    <ion-toolbar color="primary">

    </ion-toolbar>
</ion-footer>