<ion-header>
   <ion-toolbar  color="primary">
<ion-button slot="start" fill="clear" (click)="closechat()">
  <ion-icon style="color: #fff; font-size: 25px"  name="arrow-back"></ion-icon>
</ion-button>
<ion-title>{{chat.name}}</ion-title>
  </ion-toolbar>

<ion-toolbar class="header" color="secondary">

</ion-toolbar>
</ion-header>



<ion-content padding>

  <ul *ngIf="room">
    <li *ngFor="let mensaje of room.messages">{{mensaje.content}}</li>
  </ul>


</ion-content>



<ion-footer padding>
  <ion-item>
    <ion-textarea [(ngModel)]="msg"></ion-textarea>
  <ion-button color="secondary" (click)="sendMessage()" >
    <ion-icon name="send">

    </ion-icon>
  </ion-button>
  </ion-item>
</ion-footer>