<ion-header>
  <ion-toolbar>
    <ion-title>mapas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<script> 
  ingresarMarcador(lat, lng, title, description) 
    this.lat = lat; this.lng = lng;
    console.log('ingresarMarcador coordenadas: ' + lat + ' ' + lng );

    const nuevoMarcador = new Marcador(lat, lng, title, description);
    this.posicion = nuevoMarcador.lat.toString() + ',' + nuevoMarcador.lng.toString();
    this.marcadores[0] = nuevoMarcador;

  </script>
</ion-content>
