ion-back-button{
    float: left;  
}
ion-icon{
    float: right;
    padding: 10px;
}

.header{
    height: 20px;
}
ion-title{
    margin-top: 60px;
    font-size: 35px;
}

ion-toolbar{
   
align-items: center;
    font-size: 35px;
    text-align: center;
}

button { 
    margin-top: 10px;
    height: 50px;
    width: 180px;
    color: white;
    text-align: center;
    background-color: #005cb9;
    border-radius: 22px;
 font-size: 25px;
}

.inicio{
    margin-top: 30px;
    text-align: center;
}

ion-input{
    width: 20px; 
    color: #005cb9;  
    height: 3px;
}
ion-item{
    margin-left: 35px;
    width: 260px; 
    align-items: center; 
  
}
