<ion-header >
    <ion-toolbar   color="primary">
      
        
        <ion-icon  style="font-size: 25px" name="arrow-back"></ion-icon>
        
    </ion-toolbar>
    <ion-toolbar class="header" color="secondary">
      
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-title>Chat</ion-title>

  

</ion-content>
<ion-footer >
    <ion-toolbar >
        <ion-toolbar>
            <ion-item>
            <ion-label position="rigt" >Aa</ion-label>
           
            <ion-input></ion-input>
            <ion-icon color="secondary" name="send"></ion-icon>
          </ion-item>
         <input type="Aa">
        </ion-toolbar>
      
    </ion-toolbar>
  </ion-footer>


<ion-footer color="primary">
    <ion-toolbar color="primary">
      
    </ion-toolbar>
  </ion-footer>
